:root {
	--primary-color: #36454f;
	--primary-color-hover: #36454faa;
	--secondary-color: #f2f0ef;
	--secondary-color-hover: #f2f0efaa;

	--padding-small: 1.5rem;
	--padding-medium: 3rem;
	--padding-large: 6rem;
}

/* elements */
body {
	scroll-behavior: smooth;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: var(--primary-color);
	line-height: 1.5;
	min-width: 360px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: var(--primary-color) !important;
}

p {
	font-size: 1.125rem;
}
p,
h1,
h2,
h3 {
	margin-block-end: 1rem;
}
h1,
h2,
h3 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: 800;
}
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2.5rem;
}
h3 {
	font-size: 2rem;
}
a {
	color: var(--primary-color);
	text-decoration: none;
}
a:hover {
	color: var(--primary-color-hover);
}
/* utilities */
.py-10 {
	padding-block: var(--padding-large);
}
.bg-secondary {
	background-color: var(--secondary-color) !important;
}
.btn-primary {
	background-color: var(--primary-color);
	border: none;
}
.btn-primary:hover {
	background-color: var(--primary-color-hover);
}
.btn-primary:active {
	background-color: var(--primary-color-hover) !important;
}
.btn-secondary {
	background-color: var(--secondary-color) !important;
	border: none;
	color: var(--primary-color);
}
.btn-secondary:hover {
	background-color: var(--secondary-color-hover) !important;
	color: var(--primary-color);
}

/* Nav */
.navbar-brand {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: 800;
	font-size: 3rem;
	color: var(--primary-color);
}
.nav-link {
	color: var(--primary-color);
	text-transform: uppercase;
	letter-spacing: 0.25rem;
	font-weight: 100;
	padding-inline: 0 !important;
}
.nav-link:hover {
	color: var(--primary-color-hover);
	border-bottom: 1px solid var(--primary-color-hover);
}

/* Hero */
.hero {
	background-image: url('../images/hero.webp');
	background-size: cover;
}
.hero-overlay {
	background: radial-gradient(circle, rgba(242, 240, 239, 0.8) 0%, rgba(54, 69, 79, 0.5) 100%);
}
.hero button {
	inline-size: fit-content;
}
/* Projects */
.card:first-child {
	overflow: hidden;
}
.card:first-child img:hover {
	transform: scale(1.1);
	transition: transform 0.5s linear;
	object-fit: cover;
}
/* Footer */
footer {
	background-color: var(--primary-color);
	color: var(--secondary-color);
}
